<div class="is-flex justify-content-center align-items-center buttons">
	<%= link_to 'Log in', new_user_session_url, class: "button lg-btn is-info has-text-white is-focused" %>
	<%= link_to 'Sign up', new_user_registration_url, class: "button lg-btn is-light is-focused" %>
</div>
