<div class="container">
    <%= render "title" %>
	<div class="is-flex flex-direction-column size-is buttons">
		<%= link_to 'Log in', new_user_session_url, class: "button butt lg-btn is-info has-text-white" %>
		<%= link_to 'Sign up', new_user_registration_url, class: "button is-fullwidth" %>
	</div>
</div>