h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

.fw-bold {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

.fw-regular {
  font-family: 'Lato', sans-serif;
}

.fw-light {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.fw-thin {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

.has-text-centered {
  text-align: center;
}
